:root {
  --bg-color: #0d1117;
  --text-color: #ffffff;
  --main-color: #9a50fc;
  --btn-color: #292c34;
  --accent-color: #6b4f7f;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --link-color: #1e90ff;
  --gradient-color: #a100f2, #721b8f, #e500a4, #a100f2;
  --secondary-bg-color: #2c2f3e;
  --border-color: #43474f;
  --shadow-color: rgba(0, 0, 0, 0.5);

  /* Tipografía */
  --font-base: "Poppins";
  --font-monts: "Montserrat";
  --font-size-base: 1rem; /* Tamaño de fuente base */
  --font-size-sm: calc(var(--font-size-base) / 1.2); /* Tamaño más pequeño */
  --font-size-md: var(--font-size-base * 1.4); /* Tamaño medio (base) */
  --font-size-lg: calc(var(--font-size-base) * 1.5); /* Tamaño grande */
  --font-size-xl: calc(var(--font-size-base) * 1.7); /* Tamaño extra grande */

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Espaciado */
  --spacing-xs: 0.25rem; /* Espaciado extra pequeño */
  --spacing-sm: 0.5rem; /* Espaciado pequeño */
  --spacing-md: 1rem; /* Espaciado mediano */
  --spacing-lg: 1.5rem; /* Espaciado grande */
  --spacing-xl: 2rem; /* Espaciado extra grande */

  /* Bordes */
  --border-radius: 0.25rem; /* Radio de borde */
  --border-width: 1px; /* Ancho de borde */

  /* Sombras */
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra pequeña */
  --box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra mediana */

  /* Transiciones */
  --transition-fast: 0.2s ease-in-out; /* Transición rápida */
  --transition-medium: 0.4s ease-in-out; /* Transición media */

  /* Dimensiones */
  --container-max-width: 1920px; /* Ancho máximo del contenedor */
  --container-width: 90vw; /* Ancho del contenedor en vista */
}

.pinkmode {
  --bg-color: #080808;
  --second-bg-color: #2f184b;
  --second-color: #001005;
  --text-color: #f4effa;
  --main-color: #532b88;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

html {
  overflow-x: hidden;
  line-height: 1.5;
}

p {
  font-size: var(--font-size-sm);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-base);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  animation: rotation 20s linear infinite;
}

hr {
  height: 2px;
  border-color: gray;
  margin: 20px auto;
}

header {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  top: 0;
  left: 0;
  padding: 2rem 12%;
  background: rgba(28, 32, 44, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}

#menu-icon {
  display: none;
}

.logo {
  font-size: var(--font-size-lg);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: var(--transition-fast);
}

.logo:hover {
  transform: scale(1.2);
}

span {
  color: var(--main-color);
}

.navbar a {
  font-size: var(--font-size-lg);
  color: var(--text-color);
  margin-left: 2rem;
  font-weight: var(--font-weight-normal);
  border-bottom: 3px solid transparent;
  transition: var(--transition-fast);
}

.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}

.navbar button {
  font-size: var(--font-size-lg);
  color: var(--text-color);
  margin-left: 2rem;
  font-weight: var(--font-weight-normal);
  background-color: #212234;
  padding: 0.5em;
  border-radius: 5px;
  transition: var(--transition-fast);
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.navbar button::after,
.navbar button::before {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -10;
  background: conic-gradient(from var(--gradient-angle), var(--gradient-color));
  border-radius: inherit;
  filter: blur(0.1rem);
  background-clip: padding-box;
  animation: rotation 2s linear infinite;
  transition: opacity var(--transition-fast); /* Agrega una transición para la opacidad */
  opacity: 1; /* Oculta los pseudo-elementos por defecto */
}

.navbar button:hover::after,
.navbar button:hover::before {
  opacity: 0;
}

.navbar button:hover {
  box-shadow: var(--box-shadow-md);
}

.navbar button:active {
  transform: scale(0.8);
}
.home {
  background-image: url(../img/bg-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
  padding: 10%;
  min-width: 100vw;
  min-height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  min-height: 80vh;
  
}

.home-content h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-top: 1rem;
}

.home-content .home-text-content {
  display: inline-block;
}

#text {
  display: inline;
  font-size: 4rem;
  animation: blink-cursor 0.75s step-end infinite;
}

.home-content h3 {
  
  font-weight: var(--font-weight-bold);
  padding-left: 1rem;
  font-size: var(--font-size-xl);
}

.home-content p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  margin-top: 1rem;
  line-height: 2;
  margin-bottom: 1.5rem;
  
  width: 55%;  

  padding-left: 1rem;
}

.home-content .services .btn-group {
  padding-left: 1rem;
  justify-content: flex-start;
}

.contact-info {
  display: flex;
  padding-left: 1rem;
  width: 200px;
  gap: 1rem;
}

.contact-info img {
  width: 15px;
}

.contact-info a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;  
  padding-left: 1rem;
  padding-top: 3rem;
  font-size: var(--font-size-base);
  line-height: 2;
}

.contact-info a:hover {
  color: var(--main-color); /* Color de la línea en hover */
}

.home-content-d {
  display: flex;
  justify-content: center;
}

.home-content-d .caret-svg {
  margin-top: 2rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  animation: caret 1.5s ease infinite;
}

@keyframes caret {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.home-content-d .caret-svg:hover {
  transform: scale(1.4);
}

@media (min-width: 375px) and (max-width: 480px) {


  .navbar a, button{
    display: none;
  }

   .logo{
      padding-left: 33%;
  }

  .text-container{
    min-height: 100px;
  }

  #text{
    font-size: 2rem;
  }

  .home{
    padding: 2%;
    background-image: url(../img/bg-movile.png);
    
  background-size: contain;
  }

  .home-content{
    max-width: 375px;
    padding-top: 35%;
    flex-wrap: wrap;
    align-items: center;
  }
  

  .home-text-content, .home-content p{
    text-align: center;
  }

  .home-content p{
    width: 80%;
  }

  .services .btn-group{
    flex-direction: column;
  }

  .contact-info{
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    padding-left: 0;
  }

  .contact-info a:nth-of-type(1){
    
    padding-top: 2rem;
  }

  .contact-info a{
    padding-left: 0;
    padding-top: 0;
  }
  
}

/*Width 1366*/
@media (min-width: 900px) and (max-width: 1366px) {
  .logo{
    font-size: 1rem;
  }
  .navbar a , .navbar button{
    font-size: 1rem;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .logo{
    font-size: 0.7rem;
  }
  .navbar a , .navbar button{
    font-size: 0.7rem;
  }
}


/*Width 1600-1920*/
@media (min-width: 1600px) and (max-width: 1919px){

  .navbar a, .navbar button{
    font-size: var(--font-size-md);
  }

  .home-content {
    min-height: 90vh;
  }
  
  #text {
    font-size: 3rem;
  }
  
  .home-content h3 {
    font-size: var(--font-size-lg);
  }
  
  .home-content p {
    font-size: var(--font-size-md);
  }
  
  
  .contact-info {
    padding-top: 1rem;
  }
  
  .contact-info img {
    width: 20px;
  }
  
  .contact-info a {
    font-size: var(--font-size-sm);
  }

 
}


.card {
  padding: 1.5em;
  width: auto;
  height: auto;
  background-color: var(--bg-color);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), var(--gradient-color));
  border-radius: inherit;
  animation: rotation 2s linear infinite;
}

.card::after {
  filter: blur(0.1rem);
}

.card::before {
  filter: blur(0.1rem);
}

.card img {
  position: absolute;
  right: 3%;
  top: 15%;
  width: 6rem;
  height: auto;
}

.card h3,
.card h2 {
  font-weight: var(--font-weight-bold);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

.experience {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 5% 10%;
}

.experience::before,
.experience::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #0ff, #ff00ff, #00f);
  transform: translateY(-50%);
  mix-blend-mode: difference;
  animation: glitch 2s infinite alternate-reverse;
  opacity: 0.8;
}

.experience::after {
  top: 1px;
  left: 2px;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #f00, #0ff, #ff00ff);
  animation: glitch 3s infinite alternate-reverse;
}

@keyframes glitch {
  0% {
    transform: translateY(-50%) skewX(0deg);
    clip-path: inset(0 0 0 0);
  }

  10% {
    clip-path: inset(20% 0 30% 0);
    transform: translateY(-48%) skewX(10deg);
  }

  20% {
    clip-path: inset(40% 0 10% 0);
    transform: translateY(-52%) skewX(-10deg);
  }

  30% {
    clip-path: inset(10% 0 40% 0);
    transform: translateY(-50%) skewX(5deg);
  }

  40% {
    clip-path: inset(30% 0 20% 0);
    transform: translateY(-53%) skewX(-5deg);
  }

  50% {
    clip-path: inset(20% 0 30% 0);
    transform: translateY(-47%) skewX(15deg);
  }

  60% {
    clip-path: inset(40% 0 10% 0);
    transform: translateY(-51%) skewX(-15deg);
  }

  70% {
    clip-path: inset(10% 0 40% 0);
    transform: translateY(-49%) skewX(7deg);
  }

  80% {
    clip-path: inset(30% 0 20% 0);
    transform: translateY(-54%) skewX(-7deg);
  }

  90% {
    clip-path: inset(20% 0 30% 0);
    transform: translateY(-46%) skewX(12deg);
  }

  100% {
    clip-path: inset(40% 0 10% 0);
    transform: translateY(-50%) skewX(0deg);
  }
}

.experience h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
  text-align: center;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.ol-cont {
  list-style: none;
  position: relative;
  width: 100%;
  max-width: 1000px;
  border-left: 2px solid gray;
  padding-left: 8.5%;
  padding-right: 8.5%;
}

.point {
  position: absolute;
  left: -5.6rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: gray;
  border-radius: 50%;
}

.ol-cont li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

.ol-cont li:last-child {
  margin-bottom: 0;
}

.ol-cont time {
  color: gray;
  padding-left: -5rem;
  text-align: left;
  align-self: flex-start;
}

.experience p {
  font-size: 0.9em;
}

.experience time {
  font-size: var(--font-size-sm);
  margin-bottom: 2rem;
}
.experience .card {
  text-align: left;
}

.experience .card-1 span {
  color: #ff7300;
}

.experience .card-2 span {
  color: #006eff;
}

.experience .card-3 span {
  color: #00ffdd;
}
.experience .card-3 img {
  top: 8%;
  width: 4em;
}

.experience .card-4 span {
  color: #d52dff;
}

.experience .card-4 img {
  top: 8%;
  width: 2.6em;
}

.experience .card-1::after {
  background: conic-gradient(
    from var(--gradient-angle),
    #0051ff,
    #d38312,
    #d38312,
    #0051ff
  );
}

.experience .card-2::after {
  background: conic-gradient(
    from var(--gradient-angle),
    #00ff62,
    #0051ff,
    #0051ff,
    #00ff62
  );
}

.experience .card-3::after {
  background: conic-gradient(
    from var(--gradient-angle),
    #00fff2,
    #2f41e6,
    #07fff3
  );
}

.experience .card-4::after {
  background: conic-gradient(
    from var(--gradient-angle),
    #a100f2,
    #721b8f,
    #e500a4
  );
}



.about-me {
  position: relative;
  min-height: 120vh;
  background: var(--secondary-bg-color);
  border-top: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;

  padding: 3rem;
}

.about-me::before,
.about-me::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #0ff, #ff00ff, #00f);
  transform: translateY(-50%);
  mix-blend-mode: difference;
  animation: glitch 2s infinite alternate-reverse;
  opacity: 0.8;
}

.about-me::after {
  top: 1px;
  left: 2px;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #f00, #0ff, #ff00ff);
  animation: glitch 3s infinite alternate-reverse;
}
.about-me .container {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
}

.home-img {
  margin: 3rem;
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  background: var(--bg-color);
  position: relative;
  filter: drop-shadow(0 0.8rem 0.8rem rgba(0, 0, 0, 0.5));
  transition: 0.3s ease;
  z-index: 2;
}

.home-img::after,
.home-img::before {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: 1;
  background: conic-gradient(from var(--gradient-angle), var(--gradient-color));
  border-radius: inherit;
  animation: rotation 2s linear infinite;
}

.home-img:after {
  filter: blur(0.1rem);
}

.home-img::before {
  filter: blur(0.1rem);
}

.home-img:hover {
  transform: scale(1.1);
}

.about-me .left,
.about-me .right {
  background-color: var(--bg-color);
  display: flex;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.about-me .left,
.right {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about-me .right {
  text-align: right;
}

.about-me h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 1rem;
}

.about-me h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about-me hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about-me p {
  font-size: var(--font-size-base);
  line-height: 1.6;
  max-width: 700px;
  text-align: justify;
}

.about-me-cont .btn-group .btn {
  gap: 0.3em;
  justify-content: flex-start;
}

.container h3:nth-of-type(2) {
  color: var(--main-color);
  margin-top: 1rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  background-color: var(--btn-color);
  color: var(--text-color);
  border-radius: 2rem;
  font-size: var(--font-size-sm);
  border: transparent;
  transition: 0.3s ease-in-out;
  user-select: none;
}

.btn:hover {
  transform: scale(1.1);
}

.btn .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.btn .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.btn:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.icon-svg {
  width: 25px;
  height: 25px;
  fill: white;
  transition: 0.2s ease;
}

.proyects {
  background-color: var(--bg-color);
  display: flex;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  flex-direction: column;
  position: relative;
}

.proyects-container h3::after {
  content: "";
  position: absolute;
  top: 9%;
  left: 40%;
  border-bottom: 2px solid gray;
  width: 20%;
}

.proyects::before,
.proyects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #0ff, #ff00ff, #00f);
  transform: translateY(-50%);
  mix-blend-mode: difference;
  animation: glitch 2s infinite alternate-reverse;
  opacity: 0.8;
}

.proyects::after {
  top: 1px;
  left: 2px;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #f00, #0ff, #ff00ff);
  animation: glitch 3s infinite alternate-reverse;
}

.proyects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyects h3 {
  margin-bottom: 1.2rem;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.proyects p {
  font-size: var(--font-size-base);
}

.galery-container {
  max-width: 1200px; /* Ajusta este valor según el ancho que desees */
  margin: 0 auto;
  padding: 20px;
}

.galery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Ajuste flexible de columnas */
  grid-auto-rows: 300px; /* Altura base para todas las filas */
  gap: 20px; /* Espaciado entre los elementos */
}

.galery .galery-item {
  position: relative;
  background-color: var(--bg-color);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.galery .galery-item .galery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Evita el recorte de la imagen */
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.galery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.galery-item:hover::before {
  background-color: rgba(0, 0, 0, 0.7); /* Cambia a opaco en hover */
}

/* Contenido oculto inicialmente */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.overlay-content h4 {
  font-weight: var(--font-weight-bold);
}
.overlay-content p {
  text-align: center;
}

.galery-item:hover .overlay-content {
  opacity: 1;
}

.galery .large-item {
  grid-column: span 2;
  grid-row: span 2;
}

.galery .galery-item:nth-child(3n - 2) {
  grid-column: span 2;
  grid-row: span 1;
}

.projects-btns {
  flex-direction: row;
  width: 500px;
}

.projects-btns-2 {
  width: 180px;
}

.projects-btns-2 .icon-svg {
  width: 20px;
  height: 20px;
}

.right {
  display: flex;
  justify-content: flex-start;
}

.skills-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  gap: 2rem;
}

.skill-text {
  display: flex;
  justify-content: space-between;
}

.row,
.soft-skills {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
}

.soft-skills {
  text-align: right;
}

.soft-skills .skill-progress {
  position: absolute;
  right: 0;
}

.soft-skills .skill-progress {
  background: var(--main-color);
  height: 100%;
  border-radius: 5px;
}

.skill {
  margin-bottom: 1rem;
}

.skill-name {
  font-size: var(--font-size-md);
  margin-bottom: 0.5rem;
}

.skill-bar {
  position: relative;
  background-color: white;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
}

.skill-progress {
  background: #4caf50;
  height: 100%;
  border-radius: 5px;
}

.contact-icons {
  position: fixed;
  bottom: 0px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.contact-icons a {
  display: block;
}

.contact-icons img {
  width: 1.7rem; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  transition: transform 0.3s, opacity 0.3s;
}

.contact-icons a:hover img {
  transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
  opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}

@media (max-width: 768px) {
  .galery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .galery .galery-item:nth-child(3n - 2) {
    grid-column: span unset;
    grid-row: span unset;
  }
}

