* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #8C664Cff;
    --second-color: #001005;
    --text-color: white;
    --main-color: #8C664Cff;

    /* TODO PALETTE */
    --todo-bg-color: radial-gradient(ellipse at bottom, #33193b 0%, #090a0f 100%);
    --todo-text-color: white;
    --todo-text-color-2: #33193b;
    --black: #09090Dff;
}

.darkmode {
    --bg-color: #080808;
    --second-bg-color: #8C664Cff;
    --second-color: #001005;
    --text-color: #F4EFFA;
    --main-color: #8C664Cff;
}

.asdas {
    --bg-color: #1B2021;
    --second-color: #EA638C;
    --text-color: #FFD9DA;
    --main-color: #89023E;
}

.pinkmode {
    --bg-color: #080808;
    --second-bg-color: #2F184B;
    --second-color: #001005;
    --text-color: #F4EFFA;
    --main-color: #532B88;
}




body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-radius: 0% 0% 10% 10%;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

span {
    color: var(--main-color);
}

.navbar button {
    font-size: 1.8rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 500;
    background: var(--main-color);
    padding: 7px;
    border-radius: 10%;
    transition: 0.4s ease;
    cursor: pointer;
}

.navbar button:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 2rem;
    line-height: 1;
}

.home-content h3 {
    font-size: 3rem;
    margin: 1rem;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    margin: 1rem;
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    opacity: 0.8;

}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
    opacity: 1;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    color: var(--main-color);
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin: 3rem 0.5rem;
    transition: 0.3s ease;
}


.social-icon a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn-group a:nth-of-type(2):hover {
    background-color: var(--main-color);
    color: black;
}

.btn-group a:nth-of-type(3) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn-group a:nth-of-type(3):hover {
    background-color: var(--main-color);
    color: black;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h1 {
    font-size: 6rem;
    margin-bottom: -5%;
}

.galery {
    display: flex;
    width: 110%;
}

.galery img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .4s ease;
}

.galery img:hover {
    cursor: crosshair;
    width: 10%;
    opacity: 1;
    filter: contrast(120%);
    box-shadow: 0 0 50 px rgba(0, 0, 0);
}



.todo-app {
    min-height: 100vh;
    padding: 10px;
    background: var(--todo-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.container-b {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.b1 {
    position: relative;
    width: 10px;
    height: 10px;
    background: white;
    box-shadow: 0 0 5px #e10ae9, 0 0 30px #b870b8;
    margin: 0 15px;
    border-radius: 50%;
    transition: 0.3s ease;
    filter: blur(3px);
    animation: stars 60s linear infinite;
    animation-duration: calc(120s/var(--i));
    opacity: 0.8;
}


.b1:nth-child(even) {
    background-color: #b85697;
    box-shadow: 0 0 5px #03ffdd, 0 0 30px #9fe9e5;
}

@keyframes stars {
    0% {
        transform: translateY(100vh) scale(0.2);
        opacity: 0.4;
    }

    100% {
        transform: translateY(-10vh) scale(0.4);
        opacity: 0.8;
    }
}




.todo-app html {
    height: 100%;
}


.todo-app h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--todo-text-color);
    z-index: 2;
}

.todo-app .wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--todo-text-color);
    border-radius: 10px;
    color: var(--text-color);
    caret-color: var(--todo-text-color);
}

#todo-input:focus {
    outline: none;
}

.todo-app form {
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--todo-text-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 10px;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--todo-text-color-2);
    cursor: pointer;
    transition: 1s ease;
}


@keyframes button-todo {
    0% {
        width: 13%;
    }

    100% {
        width: 100%;
    }
}

.todo-app .todo {
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 15px;
    background-color: var(--todo-text-color);
    color: var(--todo-text-color-2);
    display: flex;
    align-items: center;
}

.todo-app .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    user-select: none;
    transition: 200ms ease;
}

.todo-app .delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo-app .delete-button svg {
    fill: gray;
}

.todo-app .delete-button:hover svg {
    fill: #ff0033;
}

.custom-checkbox {
    border: 2px solid var(--todo-text-color-2);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked~.custom-checkbox {
    background-color: var(--todo-text-color-2);
    width: -10%;
}

input[type="checkbox"]:checked~.custom-checkbox svg {
    fill: var(--todo-text-color);
}

input[type="checkbox"]:checked~.todo-text {
    text-decoration: line-through;
    color: grey;
    font-weight: bolder;
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 500px) {
    html {
        font-size: 8pt;
    }

    #add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}