* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --bg-color: #17181d;
    --text-color: white;
    --main-color: #531eaa;
    --btn-color: #292C34;


    /* TODO PALETTE */
    --todo-bg-color: radial-gradient(ellipse at bottom, #33193b 0%, #090a0f 100%);
    --todo-text-color: white;
    --todo-text-color-2: #33193b;
    --black: #09090Dff;
}

.pinkmode {
    --bg-color: #080808;
    --second-bg-color: #2F184B;
    --second-color: #001005;
    --text-color: #F4EFFA;
    --main-color: #532B88;
}

body {

    background-color: var(--bg-color);
    color: var(--text-color);
    animation: rotation 20s linear infinite;
}



header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background: rgba(28, 32, 44, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

span {
    color: #9a50fc;
}

.navbar button {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    background: #1b1d28;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 7px;
    border-radius: 10%;
    transition: 0.4s ease;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

.navbar button::after, .navbar button::before {
    content: '';
    position: absolute;
    inset: -0.2rem;
    z-index: -10;
    background: conic-gradient(from var(--gradient-angle), #a100f2, #721b8f, #e500a4);
    border-radius: inherit;
    animation: rotation 2s linear infinite;
    filter: blur(0.2rem);
}

.navbar button:hover {
    color: linear-gradient(#a100f2, #6fffe9, #e500a4);
    ;
}

.navbar button:active {
    transform: scale(0.7);
}


.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: var(--text-color);
}

.home-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
}

.home-content-d .caret-svg {
    margin-top: 2rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    animation: caret 1.5s ease infinite;
}

@keyframes caret {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

.home-content-d .caret-svg:hover {
    transform: scale(1.4);
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 1;
}


.home-content h3 {
    font-family: "Inconsolata", monospace;
}

.home-content .home-text-content {
    display: inline-block;
}

.home-content .anim-text {
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

@keyframes blink-cursor {
    50% {
        border-color: transparent;
    }
}

#text {
    display: inline;
    font-size: 5rem;
    animation: blink-cursor 0.75s step-end infinite;
}


.home-content h3 {
    font-size: 3rem;
    margin: 1rem;
}

.home-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
}


.home-img {
    margin: 3rem;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-home {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--bg-color);
    position: relative;
    filter: drop-shadow(0 0.8rem 0.8rem rgba(0, 0, 0, 0.5));
    transition: 0.3s ease;
    z-index: 2;
}

.home-img::after, .home-img::before {
    content: '';
    position: absolute;
    inset: -0.1rem;
    z-index: 1;
    background: conic-gradient(from var(--gradient-angle), #a100f2, #6fffe9, #e500a4);
    border-radius: inherit;
    animation: rotation 2s linear infinite;
}

.home-img:after {
    filter: blur(0.2rem);
}

.home-img::before {
    filter: blur(.2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-img:hover {
    transform: scale(1.1);
}




.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 3rem;
    font-size: 1.4rem;
    border: transparent;
    transition: 0.3s ease-in-out;
    gap: 0.5rem;
    user-select: none;
}

.btn:hover {
    transform: scale(1.1);
}

.icon-svg {
    width: 25px;
    height: 25px;
    fill: white;
    transition: 0.2s ease;
}

.btn:hover .icon-svg-2 {
    fill: #E3646E;
}

.btn:hover .icon-svg-3 {
    fill: #3996DB;
}

.btn:hover .icon-svg-4 {
    fill: #61450C;
}

.btn:hover .icon-svg-5 {
    fill: #3996DB;
}

.btn:hover .icon-svg-6 {
    fill: #82BC4F;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    margin: 0 auto;
    padding: 2em;
    font-size: 2rem;
    width: auto;
    height: auto;
    line-height: 1.8;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.card::after, .card::before {
    content: '';
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), #a100f2, #6fffe9, #e500a4);
    border-radius: inherit;
    animation: rotation 5s linear infinite;
}

.card::after {
    filter: blur(3.5rem);
}

.card::before {
    filter: blur(.5rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}




.experience {
    position: relative;
    min-height: 100vh;
    border-top: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.experience::before,
.experience::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #0ff, #ff00ff, #00f);
    transform: translateY(-50%);
    mix-blend-mode: difference;
    animation: glitch 2s infinite alternate-reverse;
    opacity: 0.8;
}

.experience::after {
    top: 1px;
    left: 2px;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #f00, #0ff, #ff00ff);
    animation: glitch 3s infinite alternate-reverse;
}

@keyframes glitch {
    0% {
        transform: translateY(-50%) skewX(0deg);
        clip-path: inset(0 0 0 0);
    }

    10% {
        clip-path: inset(20% 0 30% 0);
        transform: translateY(-48%) skewX(10deg);
    }

    20% {
        clip-path: inset(40% 0 10% 0);
        transform: translateY(-52%) skewX(-10deg);
    }

    30% {
        clip-path: inset(10% 0 40% 0);
        transform: translateY(-50%) skewX(5deg);
    }

    40% {
        clip-path: inset(30% 0 20% 0);
        transform: translateY(-53%) skewX(-5deg);
    }

    50% {
        clip-path: inset(20% 0 30% 0);
        transform: translateY(-47%) skewX(15deg);
    }

    60% {
        clip-path: inset(40% 0 10% 0);
        transform: translateY(-51%) skewX(-15deg);
    }

    70% {
        clip-path: inset(10% 0 40% 0);
        transform: translateY(-49%) skewX(7deg);
    }

    80% {
        clip-path: inset(30% 0 20% 0);
        transform: translateY(-54%) skewX(-7deg);
    }

    90% {
        clip-path: inset(20% 0 30% 0);
        transform: translateY(-46%) skewX(12deg);
    }

    100% {
        clip-path: inset(40% 0 10% 0);
        transform: translateY(-50%) skewX(0deg);
    }
}


.experience h1 {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.experience .experience-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.row-exp-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.row-exp-2 {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    flex: 1;
}

.row-exp-2 h2 {
    font-size: 3.5rem;
    text-align: center;
}

.experience time, li, ol {
    margin: 1rem;
}



.experience .card {
    height: 20%;
    padding: 2.3rem;
    text-align: left;
    margin: 2rem;
    position: relative;
}

.experience .card img {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;

}

.experience .card-3 img {
    width: 17%;

}

.experience .card-4 img {
    width: 12%;
    filter: drop-shadow(0 0.1rem 0.4rem rgba(0, 0, 0, 0.3));

}

.experience .card h2 {
    font-size: 1.6rem;
}

.experience .card h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.experience .card p {
    font-size: 1.3rem;

}

.txt-gray {
    color: gray;
    font-weight: 400;
}

.experience .card::after, .card::before {
    inset: -0.4rem;
    filter: blur(0.2rem);
}

.experience .card-1 span {
    color: #ff7300;
}

.experience .card-2 span {
    color: #006eff;
}

.experience .card-3 span {
    color: #00ffdd;
}

.experience .card-4 span {
    color: #d52dff;
}



.experience .card-1::after {
    background: conic-gradient(from var(--gradient-angle), #A83279, #D38312, #A83279);
}


.experience .card-2::after {
    background: conic-gradient(from var(--gradient-angle), #73C8A9, #246199, #73C8A9);
}

.experience .card-3::after {
    background: conic-gradient(from var(--gradient-angle), #07fff3, #2f41e6, #07fff3);
}

.experience .card-4::after {
    background: conic-gradient(from var(--gradient-angle), #a100f2, #721b8f, #e500a4);
}


.about-me {
    position: relative;
    min-height: 100vh;
    border-top: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.about-me::before,
.about-me::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #0ff, #ff00ff, #00f);
    transform: translateY(-50%);
    mix-blend-mode: difference;
    animation: glitch 2s infinite alternate-reverse;
    opacity: 0.8;
}

.about-me::after {
    top: 1px;
    left: 2px;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #f00, #0ff, #ff00ff);
    animation: glitch 3s infinite alternate-reverse;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services h1 {
    font-size: 6rem;
    margin-bottom: -5%;
}

.galery {
    display: flex;
    width: 110%;
}

.galery img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .4s ease;
}

.galery img:hover {
    cursor: crosshair;
    width: 10%;
    opacity: 1;
    filter: contrast(120%);
    box-shadow: 0 0 50 px rgba(0, 0, 0);
}



.todo-app {
    min-height: 100vh;
    padding: 10px;
    background: var(--todo-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.container-b {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.b1 {
    position: relative;
    width: 10px;
    height: 10px;
    background: white;
    box-shadow: 0 0 5px #e10ae9, 0 0 30px #b870b8;
    margin: 0 15px;
    border-radius: 50%;
    transition: 0.3s ease;
    filter: blur(3px);
    animation: stars 60s linear infinite;
    animation-duration: calc(120s/var(--i));
    opacity: 0.8;
}


.b1:nth-child(even) {
    background-color: #b85697;
    box-shadow: 0 0 5px #03ffdd, 0 0 30px #9fe9e5;
}

@keyframes stars {
    0% {
        transform: translateY(100vh) scale(0.2);
        opacity: 0.4;
    }

    100% {
        transform: translateY(-10vh) scale(0.4);
        opacity: 0.8;
    }
}




.todo-app html {
    height: 100%;
}


.todo-app h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--todo-text-color);
    z-index: 2;
}

.todo-app .wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--todo-text-color);
    border-radius: 10px;
    color: var(--text-color);
    caret-color: var(--todo-text-color);
}

#todo-input:focus {
    outline: none;
}

.todo-app form {
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--todo-text-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 10px;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--todo-text-color-2);
    cursor: pointer;
    transition: 1s ease;
}


@keyframes button-todo {
    0% {
        width: 13%;
    }

    100% {
        width: 100%;
    }
}

.todo-app .todo {
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 15px;
    background-color: var(--todo-text-color);
    color: var(--todo-text-color-2);
    display: flex;
    align-items: center;
}

.todo-app .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    user-select: none;
    transition: 200ms ease;
}

.todo-app .delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo-app .delete-button svg {
    fill: gray;
}

.todo-app .delete-button:hover svg {
    fill: #ff0033;
}

.custom-checkbox {
    border: 2px solid var(--todo-text-color-2);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked~.custom-checkbox {
    background-color: var(--todo-text-color-2);
    width: -10%;
}

input[type="checkbox"]:checked~.custom-checkbox svg {
    fill: var(--todo-text-color);
}

input[type="checkbox"]:checked~.todo-text {
    text-decoration: line-through;
    color: grey;
    font-weight: bolder;
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 400px) {
    html {
        font-size: 8pt;
    }

    #add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}

@media(max-width: 415px) {
    html {
        font-size: 8pt;
    }

    header {
        align-items: center;
        justify-content: center;
    }

    header .navbar {
        display: none;
    }

    header .logo {
        text-align: center;
    }

    .home {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-content {
        align-items: center;
        text-align: center;
    }

    .btn-group {
        flex-direction: column;
    }

    .home-img img {
        width: 90vw;
        border-radius: 10%;
    }
}

@media screen and (min-height: 668px) and (max-height: 900px) {
    .home-content {
        margin-top: -4rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-img {
        width: 20%;
        height: auto;
        margin: 2rem;
    }

    .home-content p {
        font-size: 1.6rem;
    }

    .btn {
        font-size: 1.5rem;
    }

    .caret-svg {
        margin-top: 2rem;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}