:root {
  /* TODO PALETTE */
  --todo-bg-color: radial-gradient(ellipse at bottom, #33193b 0%, #090a0f 100%);
  --todo-text-color: white;
  --todo-text-color-2: #33193b;
  --black: #09090dff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.todo-app {
  min-height: 100vh;
  padding: 10px;
  background: var(--todo-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.container-b {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.b1 {
  position: relative;
  width: 10px;
  height: 10px;
  background: white;
  box-shadow: 0 0 5px #e10ae9, 0 0 30px #b870b8;
  margin: 0 15px;
  border-radius: 50%;
  transition: 0.3s ease;
  filter: blur(3px);
  animation: stars 60s linear infinite;
  animation-duration: calc(120s / var(--i));
  opacity: 0.8;
}

.b1:nth-child(even) {
  background-color: #b85697;
  box-shadow: 0 0 5px #03ffdd, 0 0 30px #9fe9e5;
}

@keyframes stars {
  0% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0.4;
  }

  100% {
    transform: translateY(-10vh) scale(0.4);
    opacity: 0.8;
  }
}

.todo-app html {
  height: 100%;
}

.todo-app h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--todo-text-color);
  z-index: 2;
}

.todo-app .wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--todo-text-color);
  border-radius: 10px;
  color: var(--text-color);
  caret-color: var(--todo-text-color);
}

#todo-input:focus {
  outline: none;
}

.todo-app form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--todo-text-color);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 10px;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--todo-text-color-2);
  cursor: pointer;
  transition: 1s ease;
}

@keyframes button-todo {
  0% {
    width: 13%;
  }

  100% {
    width: 100%;
  }
}

.todo-app .todo {
  margin-bottom: 10px;
  padding: 0 16px;
  border-radius: 15px;
  background-color: var(--todo-text-color);
  color: var(--todo-text-color-2);
  display: flex;
  align-items: center;
}

.todo-app .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  font-size: 1.5rem;
  user-select: none;
  transition: 200ms ease;
}

.todo-app .delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.todo-app .delete-button svg {
  fill: gray;
}

.todo-app .delete-button:hover svg {
  fill: #ff0033;
}

.custom-checkbox {
  border: 2px solid var(--todo-text-color-2);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  transition: 200ms ease;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--todo-text-color-2);
  width: -10%;
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--todo-text-color);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: grey;
  font-weight: bolder;
}

input[type="checkbox"] {
  display: none;
}
